/* h1, #helpline {
    display: inline-block;
    width: 25%;
} */

/* button{
    margin: auto;
    width: 12%;
}

#snow{
    width: 150%;
    padding-right: 50%;
} */

#hUDJ , #udj{
    display: inline-block;
}